/* List of colors */

/* {
    --base03:    #002b36;
    --base02:    #073642;
    --base01:    #586e75;
    --base00:    #657b83;
    --base0:     #839496;
    --base1:     #93a1a1;
    --base2:     #eee8d5;
    --base3:     #fdf6e3;
    --yellow:    #b58900;
    --orange:    #cb4b16;
    --red:       #dc322f;
    --magenta:   #d33682;
    --violet:    #6c71c4;
    --blue:      #268bd2;
    --cyan:      #2aa198;
    --green:     #859900;
} */

* {
    border: none;
    border-radius: 0;
    font-family: Hack, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #073642;
    color: #93a1a1;
}

#workspaces {
    background-color: #586e75;
    margin: 5px;
    margin-left: 5px;
    border-radius: 3px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 4px;
    background-color: transparent;
    color: #eee8d5;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button.focused {
    color: #586e75;
    background-color: #eee8d5;
    border-radius: 3px;
}

#workspaces button:hover {
    color: #d33682;
    background: #fdf6e3;
    border-radius: 4px;
    box-shadow: inset 0 -2px #d33682;
}

#idle_inhibitor, #pulseaudio, #network, #cpu, #memory, #temperature, #backlight, #battery, #battery#bat2, #clock, #tray {
    background-color: #4c566a;
    padding: 1px 6px;
    margin: 5px 0px;
}

#battery {
    color: #a3be8c;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#idle_inhibitor {
    border-radius: 5px 0px 0px 5px;
    margin-left: 10px;
}

#pulseaudio {
    color: #ebcb8b;
}

#network {
    color: #2aa198;
}

#cpu {
    color: #859900;
}

#memory {
    color: #b58900;
}

#temperature {
    color: #d33682;
}

#backlight {
    color: #2aa198;
}

#battery.charging {
    color: #a3be8c;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    color: #b48ead;
    border-radius: 0px 4px 4px 0px;
    margin-right: 8px;
}

#tray {
    border-radius: 4px 4px 4px 4px;
}
